# Presupuesto Ixtlahuacán - DEP02
APP_ENV=production
APP_URL=https://pro-ixtla-c7azh2cagpfvfede.mexicocentral-01.azurewebsites.net
APP_TIMEZONE=America/Mexico_City
SESSION_NAME=PROIXTLA_SESSION

DB_HOST=mobilitysolutions-server.mysql.database.azure.com
DB_PORT=3306
DB_NAME=ixtla01_dep02
DB_USER=
DB_PASS=
DB_SSL=true
DB_SSL_CA=db/conn/DigiCertGlobalRootG2.crt.pem
DB_CONNECT_TIMEOUT=8
