# =========================================================
# PRESUPUESTO IXTLAHUACAN
# =========================================================
AUTH_MODE=demo
DATA_MODE=demo

APP_ENV=production
APP_URL=https://pro-ixtla-c7azh2cagpfvfede.mexicocentral-01.azurewebsites.net
APP_TIMEZONE=America/Mexico_City
SESSION_NAME=PROIXTLA_SESSION

DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASS=
DB_SSL=true
DB_SSL_CA=db/conn/DigiCertGlobalRootG2.crt.pem
DB_CONNECT_TIMEOUT=8

BUDGET_BOOTSTRAP_ADMIN_USERNAME=
